body {
    background-color: #0f121f !important;
    min-height: 100% !important;
    background-image: url(../stars.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff !important;
  }
  
* {
    font-family: Ubuntu;
}

input, textarea {
    background: none !important;
    border: 1px solid #00bda0 !important;
    color: #fff !important;
    font-size: large !important;
}


input:focus, textarea:focus, .btn-s:focus {
    box-shadow: none !important;
}


input::placeholder, textarea::placeholder {
    color:#00dba0 !important
}

a, a:hover, a:visited {
    color: #fff !important;
    text-decoration: none !important;
}
a b:hover {
    color: #00dba0 !important;
}

.btn-s {
    color:#00dba0 !important;
    background: none !important;
    font-size: 16px !important;
    cursor: pointer !important;
}

.btn-s:hover {
    color: #0f121f !important;
    background-color: #00dba0 !important;
}


#hint_id_new_password1 ul li{
    color: #fff !important;
}